<h1>Students</h1>

<table class="table">
  <tr>
    <th scope="col">Full Name</th>
    <th scope="col">Email</th>
    <th scope="col">Gender</th>
    <th scope="col">Birth Date</th>
    <th scope="col"></th>
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.full_name %></td>
    <td><%= student.email %></td>
    <td><%= student.gender %></td>
    <td><%= student.birth_date.strftime('%Y-%m-%d') %></td>
    <td>
      <%= link_to 'Show', student_path(student) %> |
      <%= link_to 'Edit', edit_student_path(student) %> |
      <%= link_to 'Delete', student_path(student), method: :delete %>
    </td>
  </tr>
  <% end %>
</table>
<%= will_paginate @students %>
