<h1>[<%= @student.id %>] <%= @student.full_name %></h1>

<p>
  <b>Title:</b>
  <%= @student.title %>
</p>

<p>
  <b>First name:</b>
  <%= @student.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @student.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @student.last_name %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @student.email %>
</p>

<p>
  <b>Birth date:</b>
  <%= @student.birth_date.to_formatted_s(:long) %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
